{
  "env": {
    "browser": false,
    "node": true,
    "es6": true
  },
  "extends": "airbnb-base",
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "no-mixed-operators": 0,
    "no-underscore-dangle": "off",
    "no-unused-expressions": 0
  }
}
